<a href="https://colab.research.google.com/github/iitmanushka137/Machine_Learning/blob/main/Data_Science_Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import files

In [2]:
book_tags = files.upload()
books = files.upload()
rating = files.upload()
toread = files.upload()

Saving book_tags.csv to book_tags.csv

Saving books.csv to books.csv

Saving ratings.csv to ratings.csv

Saving toread.csv to toread.csv

In [45]:
books = files.upload()

Saving Untitled spreadsheet - books.csv to Untitled spreadsheet - books.csv

In [51]:
df_books = pd.read_csv("Untitled spreadsheet - books.csv")
df_ratings = pd.read_csv("ratings.csv")
df_tags = pd.read_csv("book_tags.csv")
df_toread = pd.read_csv("toread.csv")
#df_books["original_title"].fillna("title", inplace=True) #replacing nulls in original_title with "title"

###Q1 How many books do not have an original title [books.csv] ? N

In [52]:
df_books.count()

book_id                      628
goodreads_book_id            628
best_book_id                 628
work_id                      628
books_count                  628
isbn                         613
isbn13                       619
authors                      628
original_publication_year    628
original_title               628
title                        628
language_code                485
average_rating               628
ratings_count                628
work_ratings_count           628
work_text_reviews_count      628
ratings_1                    628
ratings_2                    628
ratings_3                    628
ratings_4                    628
ratings_5                    628
image_url                    628
small_image_url              628
NonEnglish                   628
dtype: int64

In [53]:
df_books["original_title"].isnull().sum()

0

###Q2 How many unique books are present in the dataset ? Evaluate based on the 'book_id' [books.csv]  N

In [54]:
df_books.book_id.nunique()

628

###Q3 How many unique users are present in the dataset [ratings.csv] ? N

In [55]:
df_ratings.columns
df_ratings.user_id.nunique()

45339

###Q4 Which book (title) has the maximum number of ratings based on ‘work_ratings_count’  [books.csv] ? S

In [56]:
df_1 = df_books
max_rating = df_1["work_ratings_count"].max()
df_1[df_1["work_ratings_count"]==max_rating]["title"]

0    The Diary of a Young Girl
Name: title, dtype: object

###Q5 Which tag_id  is the most frequently used ie. mapped with the highest number of books [book_tags.csv]  ? (In case of more than one tag, mention the tag id with the least numerical value) N

In [57]:
df_tags.columns

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [58]:
df_tags[df_tags["count"]==df_tags["tag_id"].value_counts().max()]["tag_id"].min()

5951

###Q6 Which book (title) has the most number of counts of tags given by the user [book_tags.csv,books.csv]  ? S

In [59]:
df_tags.columns

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [60]:
df_tags[df_tags["count"] == df_tags["count"].max()]['goodreads_book_id']

400    865
Name: goodreads_book_id, dtype: int64

In [61]:
df_books[df_books['goodreads_book_id']== 865]["title"]

2    The Alchemist
Name: title, dtype: object

###Q7 Which book (goodreads_book_id) is marked as to-read by most users [books.csv,toread.csv] ? N

In [62]:
df_toread.head(1)

   user_id  book_id
0       94     1847

In [63]:
df_toread.columns

Index(['user_id', 'book_id'], dtype='object')

In [64]:
new_frame = pd.DataFrame(df_toread["book_id"])
new_frame["counts"] = df_toread["book_id"]
new_frame[new_frame["book_id"] == 1847]

       book_id  counts
0         1847    1847
1297      1847    1847
1674      1847    1847
2279      1847    1847
5805      1847    1847
6726      1847    1847
7732      1847    1847
7780      1847    1847
12842     1847    1847
12992     1847    1847
15751     1847    1847
16038     1847    1847
19849     1847    1847
20506     1847    1847
22497     1847    1847
22887     1847    1847
23526     1847    1847
23667     1847    1847
32490     1847    1847
32609     1847    1847
33885     1847    1847
34335     1847    1847
34503     1847    1847
34998     1847    1847
36882     1847    1847
37217     1847    1847
37503     1847    1847
39113     1847    1847
41866     1847    1847
43963     1847    1847
46661     1847    1847
47274     1847    1847
51270     1847    1847
53546     1847    1847
55440     1847    1847
57486     1847    1847

In [65]:
d = dict(df_toread["book_id"].value_counts()) #dictionary conataining book_id & frquency as key-value pairs
new_data = pd.DataFrame(d.keys(), columns = ["book_id"])
new_data["frequency"] = pd.DataFrame(d.values())
new_data.head()
book_id = int(new_data[new_data["frequency"] == new_data["frequency"].max()] ["book_id"]) #book_id having max counts

In [66]:
df_books[df_books["book_id"]== book_id]["goodreads_book_id"]

2    865
Name: goodreads_book_id, dtype: int64

###Q8 Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]   ? (In case of more than one tag, mention the tag id with the least numerical value)  N

In [67]:
df_tags.columns

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [68]:
df_tags[df_tags["count"] == df_tags["count"].min()]["tag_id"].min()

49

###Q9 Which book (title) has the minimum ‘average_rating’  [books.csv] ? S

In [69]:
df_books[df_books["average_rating"] == df_books["average_rating"].min()]["title"]

200    Adultery
Name: title, dtype: object

###Q10 Which book (goodreads_book_id) has the least number of count of tags given by the user  [book_tags.csv,books.csv] ? N

In [70]:
df_tags.columns

Index(['goodreads_book_id', 'tag_id', 'count'], dtype='object')

In [71]:
df_tags[df_tags["count"] == df_tags["count"].min()]["tag_id"].min()

49

In [72]:
df_tags[df_tags["tag_id"]==49]["goodreads_book_id"]

32786    207781
Name: goodreads_book_id, dtype: int64

In [73]:
df_books[df_books["goodreads_book_id"] == 207781]["title"]

302    The Art Spirit: Notes, Articles, Fragments of ...
Name: title, dtype: object

###Q11 How many tags are there in the dataset [book_tags.csv]  ? N

In [74]:
df_tags.columns
df_tags.tag_id.nunique #counting unique tags

<bound method IndexOpsMixin.nunique of 0        30574
1         8717
2        11743
3        11557
4        14487
         ...
67995    13254
67996    19734
67997      833
67998    23471
67999     9477
Name: tag_id, Length: 68000, dtype: int64>

In [75]:
li = list(df_tags.tag_id.unique())
print(len(li))

6605

In [76]:
df_tags["count"].sum() #count of all

13280724

###Q12 What is the average rating of all the books in the dataset based on ‘average_rating’  [books.csv]  ? N

In [77]:
df_books["average_rating"].mean()

4.083614649681529

###Q13 Find the number of books published in the year ‘2000’ based on the ‘original_publication_year’ [books.csv] ? N

In [78]:
titles = list(df_books[df_books["original_publication_year"]==2000]["original_publication_year"])
print(len(titles))

19

###Q14 Predict sentiment using Textblob. How many positive titles (title) are there [books.csv] ? (cut-off >0) N
(3 marks)

In [79]:
df_books.dropna()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,15,48855,48855,3532896,710,553296981,9.780553e+12,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",1947,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,...,2024493,20825,45225,91270,355756,656870,875372,https://images.gr-assets.com/books/1358276407m...,https://images.gr-assets.com/books/1358276407s...,0
1,31,4667024,4667024,4717423,183,399155341,9.780399e+12,Kathryn Stockett,2009,The Help,...,1603545,78204,10235,25117,134887,490754,942552,https://images.gr-assets.com/books/1346100365m...,https://images.gr-assets.com/books/1346100365s...,0
2,35,865,865,4835472,458,61122416,9.780061e+12,"Paulo Coelho, Alan R. Clarke",1988,O Alquimista,...,1403995,55781,74846,123614,289143,412180,504212,https://images.gr-assets.com/books/1483412266m...,https://images.gr-assets.com/books/1483412266s...,0
3,40,19501,19501,3352398,185,143038419,9.780143e+12,Elizabeth Gilbert,2006,"Eat, pray, love: one woman's search for everyt...",...,1206597,49714,100373,149549,310212,332191,314272,https://images.gr-assets.com/books/1503066414m...,https://images.gr-assets.com/books/1503066414s...,0
4,80,157993,157993,2180358,1708,156012197,9.780156e+12,"Antoine de Saint-Exupéry, Richard Howard, Dom ...",1946,Le Petit Prince,...,859286,24537,15039,32866,114714,228440,468227,https://images.gr-assets.com/books/1367545443m...,https://images.gr-assets.com/books/1367545443s...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,9842,24019187,24019187,43618137,12,1250058902,9.781250e+12,Brandon Stanton,2015,Humans of New York: Stories,...,12852,1210,191,211,901,3231,8318,https://images.gr-assets.com/books/1430176879m...,https://images.gr-assets.com/books/1430176879s...,0
621,9899,25813921,27213329,45670634,32,1442397144,9.781442e+12,Angela Duckworth,2016,"Grit: Passion, Perseverance, and the Science o...",...,17123,1634,303,657,3023,6540,6600,https://images.gr-assets.com/books/1458533580m...,https://images.gr-assets.com/books/1458533580s...,0
623,9944,16158498,16158498,21998914,26,670026557,9.780670e+12,Adam M. Grant,2013,Give and Take: A Revolutionary Approach to Suc...,...,11262,839,217,489,2051,4144,4361,https://images.gr-assets.com/books/1356136579m...,https://images.gr-assets.com/books/1356136579s...,0
624,9962,52588,52588,1135362,6,1580050751,9.781580e+12,"Inga Muscio, Betty Dodson",1998,Cunt: A Declaration of Independence,...,8627,841,279,676,1864,2805,3003,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,0
626,9980,946899,946899,88345,11,764200739,9.780764e+12,Deeanne Gist,2006,The Measure of a Lady,...,9963,489,187,608,2337,3355,3476,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,0

In [80]:
from textblob import TextBlob
df_books["TextBolob_Subjectivity"] = df_books["title"].apply(lambda x: TextBlob(str(x)).sentiment.subjectivity)
u = list(df_books["TextBolob_Subjectivity"])
p = 0
for k in u:
  if k>0:
    p+=1
print("total number of titles with sentiment score >0 is: {}".format(p))

total number of titles with sentiment score >0 is: 265

In [81]:
df_books['TextBlob_Polarity'] = df_books['title'].apply(lambda x: TextBlob(x).sentiment.polarity)
df_books['TextBlob_Analysis'] = df_books['TextBlob_Polarity'].apply(lambda x:'positive' if x>0 else 'negative')

In [82]:
len(df_books.loc[df_books['TextBlob_Analysis']=="positive"])

178